%html
  %head
    %meta{content:'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body
    %h1 Здравствуте!
    %p= "У вас #{@cards_for_review_count} непроверенных карточек"
    %p= "Проверьте себя #{root_path}"

