= form_tag home_path, class: "form-horizontal" do
  %fieldset 
    .form-group
      %label.col-lg-2.control-label Оригинальный текст
      .col-lg-10
        = hidden_field_tag :id, @card.id
        = text_field_tag :user_input,nil, class: "form-control"
    .form-group
      .col-lg-10.col-lg-offset-2
        = button_tag "Проверить", class: "btn btn-default"


