.jumbotron
  .h1 Первый в мире удобный менеджер флеш-катрочек. Именно так
  %br/
  %p.text-center
    = link_to "Регистрация", new_registration_path, class: 'btn btn-large btn-primary'
    = link_to "Вход", login_path, class: 'btn btn-large btn-primary'


